/* Basic styles and font */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #272727;
    font-family: 'VT323', sans-serif;
    color: #fff;
    background-image: url(images/001.png);
}


h1{
    letter-spacing: 2px;
    font-size: 60px;
}

p{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    font-size: 45px;
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    transition: all;
    transition-duration: 0.5s;
}

a.permutation-link{
    color: #ffe400;
    border: 1px solid #ffe400;
}

a.permutation-link:hover{
    background-color: #ffe400;
    color: #000;
}

a.combination-link{
    color: #14a76c;
    border: 1px solid #14a76c;
}

a.combination-link:hover{
    background-color: #14a76c;
    color: #000;
}

a.variation-link{
    color: #ff652f;
    border: 1px solid #ff652f;
}

a.variation-link:hover{
    background-color: #ff652f;
    color: #000;
}

h1.permutation-text{
    color: #ffe400;
}

h1.combination-text{
    color: #14a76c;
}

h1.variation-text{
    color: #ff652f;
}

.container{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 30%;
    height: 100vh;
    border: 1px solid #747474;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

img {
    margin-bottom: 50px;
}


/* Subpages */
.container.subpage{
    justify-content: space-between;
}
.item.subpage{
    width: 48%;
    justify-content: flex-start;
}
select{
    background-color: transparent;
    color: #fff;
    padding: 20px;
    font-size: 32px;
    border: 1px solid #14a76c;
    color: #14a76c;
    font-family: 'VT323', sans-serif;
    margin-top: 20px;
}
input{
    background-color: transparent;
    color: #fff;
    padding: 20px;
    font-size: 32px;
    border: 1px solid #14a76c;
    color: #14a76c;
    font-family: 'VT323', sans-serif;
}

button{
    text-decoration: none;
    font-size: 45px;
    color: #fff;
    padding: 10px;
    transition: all;
    transition-duration: 0.5s;
    background-color: transparent;
    cursor: pointer;
}
button.permutation

.form-control{
    margin-top: 30px;
}


/* Media Queries */

@media(max-width: 1370px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .item{
        width: 60%;
        margin-top: 20px;
    }
}